/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Color
$space: #ff3636 !default;
$red-color: #ff3636 !default;
$red-color-dark: #b71c1c !default;
$orange-color: #f29105 !default;
$blue-color: #0076df !default;
$blue-color-dark: #00369f !default;
$cyan-color: #2698ba !default;
$light-cyan-color: color.adjust($cyan-color, $lightness: 25%);
$green-color: #00ab37 !default;
$green-color-lime: #b7d12a !default;
$green-color-dark: #009f06 !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #11d68b !default;
$purple-color: #b509ac !default;
$light-purple-color: color.adjust($purple-color, $lightness: 25%);
$pink-color: #f92080 !default;
$pink-color-light: #ffdddd !default;
$yellow-color: #efcc00 !default;

$grey-color: #605c60 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
//in dark mode, this is the background
$grey-color-dark: #38082b;//in dark mode, this is the background
$grey-900: #303132; 
// MY COLORS 
$pinky-light-color: #f5e7fb !default;
$pinky-dark-color:#3a1b44 !default;
//$pinky-dark-color:#653f6d !default;
// $pinky-dark-color:#653f6d !default;  like this one
// $pinky-dark-color:#4a2442 !default;

$cream-color: #f4f2e2 !default; // first choice 
//$cream-color: #fffdf0 !default;
$white-color: #ffffff !default;
$black-color: #883f81 !default;

// Theme colors

$code-bg-color-light: rgba($pinky-dark-color, 0.05);
$code-bg-color-dark: #581168 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;

// Max width default
$max-content-width: 930px !default;
