/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Color
$space: #ff3636 !default;
$red-color: #ff3636 !default;
// $darkgreen-text-color: #2f6532 !default;
$darkgreen-text-color: #005906 !default;
$main-text-color: #4a2273 !default; //fourth

$grey-color: #605c60 !default;
$grey-color-dark: #836993 !default;
$purple-dark-color: #32243b !default;

$main-text-color-light: #5a5a5a !default;
$gray-color: #575555 !default;

//dark
$white-d-text-color: #d5e3d6 !default;
$hash-d-text-color: #b9fcc7 !default;
$theme-d-color: #ab8ab2 !default;
$hover-d-color: #baf1b8 !default;
$footer-d-color: #896f8e !default;
$divider-d-color: #aaa2b3 !default;
$card-d-color: #685875 !default;
$cream-color: #f4f2e2 !default;
$white-color: #ffffff !default;


// Font awesome location
$fa-font-path: "../webfonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-height: 40px;
$back-to-top-width: 40px;

// Max width default
$max-content-width: 930px !default;
